<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Lista de Pokémons
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Pokémons</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    <ion-item *ngFor="let pokemon of pokemons" (click)="openDetails(pokemon.name)">
      <ion-avatar slot="start">
        <img [src]="'https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/' + getPokemonId(pokemon.url) + '.png'" alt="{{ pokemon.name }}">
      </ion-avatar>
      <ion-label>
        {{ pokemon.name | titlecase }}
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="previousPage()" [disabled]="currentPage === 1">Anterior</ion-button>
    </ion-buttons>
    <ion-title>
      Página {{ currentPage }} de {{ totalPages }}
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="nextPage()" [disabled]="currentPage === totalPages">Próximo</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
